<!-- Menu configuration file.  -->
<MENUDESCRIPTOR>
	
    <MENUACTIONS>
        
        <!-- DOMAIN MENU -->
        <action id="Test.TestAction" label="Hipics21/properties/desktop/Menu/item.TestAction" type="LaunchAC"  >
            <parameter name="component" value="TestAction" />
        </action>
        
    </MENUACTIONS>
	
	<!-- The Menu system is the root element for all the menu bars -->
	<MENUROOT name="Hipics21MenuSystem" >
		<!-- a menu bar is a list of menus -->
		<menubar id="Hipics21MainMenuBar" separator="true" >
			<!-- a menu may contain other menus as well as menu items -->
            <menu id="Test" label="Hipics21/properties/desktop/Menu/menu.Test">
                <item id="Test_TestAction" action-ref="Test.TestAction" />
            </menu>
		</menubar>
	</MENUROOT>
</MENUDESCRIPTOR>
